* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #c0c2ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  padding: 25px;
  border-radius: 60px;
  display: flex;
  width: 85%;
  max-height: 95vh;
  overflow: hidden;
}


/* Boxes */
.left, .right {
  width: 50%;
  padding: 25px;
  color: white;
  border-radius: 40px;
  overflow: hidden;
}


.left {
  background: #3f3f3f;
}

.right {
  background: linear-gradient(135deg, #5b3fd3, #3b2bb3);
}

h2 {
  margin-bottom: 25px;
  font-size: 28px;
}

/* Inputs */
input, select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid rgba(255,255,255,0.5);
  background: transparent;
  color: white;
  font-size: 14px;
}

input::placeholder {
  color: #ddd;
}

/* Two box */
.row {
  display: flex;
  gap: 15px;
}

.row input, .row select {
  width: 100%;
}

/* Radio buttons Gender */
.gender {
  margin-top: 10px;
}

.gender label {
  margin-right: 15px;
  font-size: 14px;
  cursor: pointer;
}

.gender input {
  width: auto;
  margin-right: 5px;
}

/* Checkbox */
.checkbox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.checkbox label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
}


/* Button */
button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  background: white;
  color: #3b2bb3;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
